@model KT2020_59136106.Models.DOCGIA


@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Gioitinh = " ";
}

<h2>Delete</h2>

<h3>Bạn Có Chắc Xóa Thông Tin Này Kho</h3>

<table border="0" cellpadding="0" cellspacing="0" style="font-size:14px;margin-left:50px;">
    <tr>
        <td>
            <table cellpadding="2" cellspacing="10">
                <tr>
                    <td rowspan="8"><img src="/Images/@Html.DisplayFor(model => model.Anh)" width="100" height="100" /></td>
                    <td>Mã Độc Giả:</td>
                    <td>@Html.DisplayFor(model => model.MaDG)</td>
                </tr>
                <tr>
                    <td>Họ Độc Giả</td>
                    <td>@Html.DisplayFor(model => model.HoDG)</td>
                </tr>
                <tr>
                    <td>Tên Độc Giả:</td>
                    <td>@Html.DisplayFor(model => model.TenDG)</td>
                </tr>
                <tr>
                    <td>Ngày Sinh:</td>
                    <td>@Html.DisplayFor(model => model.NgaySinh)</td>
                </tr>

                <tr>
                    <td>Giới tính:</td>
                    <td>
                        @{if (Model.GioiTinh == true)
                            { Gioitinh = "Nam"; }
                            else
                            { Gioitinh = "Nữ"; }
                        }
                        @Gioitinh
                    </td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>@Html.DisplayFor(model => model.Email)</td>
                </tr>
                <tr>
                    <td>Loại Độc giả:</td>
                    <td>@Html.DisplayFor(model => model.LOAIDG.TenLDG)</td>
                </tr>


            </table>
        </td>
    </tr>
</table>
<div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xoa" class="btn btn-default" /> |

        </div>
    }
</div>
