<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/styleAdmin.css" rel="stylesheet" />
</head>
<body style="margin-top:0px;">
    <div id="banner" style="top:0px;position:absolute;">HỆ THỐNG QUẢN LÝ THÔNG TÀI SẢN</div>
    <div id="menu" style="margin-top:10px;">
        <div>
            @Html.ActionLink("THÊM MỚI", "../TaiSans_61130137/Create", new { @class = "a" })&nbsp;|&nbsp;
            @Html.ActionLink("DANH SÁCH", "../TaiSans_61130137/Index", new { @class = "a" }) &nbsp;|&nbsp;
            @Html.ActionLink("TÌM KIẾM", "../TaiSans_61130137/TimKiem_61130137", new { @class = "a" }) &nbsp;|&nbsp;
            @Html.ActionLink("XÓA", "../TaiSans_61130137/Delete", new { @class = "a" }) &nbsp;|&nbsp;
            <hr style="display: block;border-top: 1px solid aqua;  margin: 8px 0;" />
        </div>
    </div>
    <div id="content">
        @RenderBody()
    </div>
    <div id="footer">
        Copyright &copy; @DateTime.Now.Year
    </div>
</body>
</html>
