@model Thi_LeDucBinh_59130126.Models.SACH

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string nngu = "";
}

    <table border="1" cellpadding="0" cellspacing="0" style="font-size:14px;margin-left:50px;">
        <tr>
            <td>
                <table cellpadding="2" cellspacing="10">
                    <caption><b>THÔNG TIN CHI TIẾT</b></caption>
                    <tr>
                        <td rowspan="8"><img src="/Images/@Html.DisplayFor(model => model.AnhDaiDien)" width="100" height="100" /></td>
                        <td>Mã Sách:</td>
                        <td>@Html.DisplayFor(model => model.MaSach)</td>
                    </tr>
                    <tr>
                        <td>Tên Sách:</td>
                        <td>@Html.DisplayFor(model => model.TenSach)</td>
                    </tr>
                    <tr>
                        <td>Ngôn ngữ:</td>
                        <td>
                            @{if (Model.NgonNgu == true)
                                { nngu = "Tiếng Việt"; }
                                else
                                { nngu = "Ngoại Ngữ"; }
                            }
                            @nngu
                        </td>
                    </tr>
                    <tr>
                        <td>Mô Tả:</td>
                        <td>@Html.DisplayFor(model => model.MoTa)</td>
                    </tr>
                    <tr>
                        <td>Đơn Giá:</td>
                        <td>@Html.DisplayFor(model => model.DonGia)</td>
                    </tr>
                    <tr>
                        <td>Loại Sách:</td>
                        <td>@Html.DisplayFor(model => model.LOAISACH.TenLS)</td>
                    </tr>
                    
                </table>
            </td>
        </tr>
    </table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaSach }) |
    @Html.ActionLink("Back to List", "Index")
</p>
