@model KT0720ThanhDat_61130307.Models.SinhVien

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    string gtinh = "";
}
<style>
    table {
        margin: 5px;
    }
    h2,p {
        margin-left: 50px;
    }
    th, td {
        padding-top: 5px;
        padding-left: 20px;
        padding-right: 5px;
    }
</style>
<h2>THÔNG TIN CHI TIẾT</h2>

<table border="1" cellpadding="0" cellspacing="0" style="font-size:14px;margin-left:50px;">
    <tr>
        <td>
            <table cellpadding="2" cellspacing="10">
                <caption><b>THÔNG TIN CHI TIẾT</b></caption>
                <tr>
                    <td rowspan="8"><img src="~/Images/@Html.DisplayFor(model => model.AnhNV)" width="100" height="100" /></td>
                    <td>Mã sinh viên:</td>
                    <td>@Html.DisplayFor(model => model.MaSV)</td>
                </tr>
                <tr>
                    <td>Họ sinh viên:</td>
                    <td>@Html.DisplayFor(model => model.HoSV)</td>
                </tr>
                <tr>
                    <td>Tên sinh viên:</td>
                    <td>@Html.DisplayFor(model => model.TenSV)</td>
                </tr>
                <tr>
                    <td>Giới tính:</td>
                    <td>
                        @{if (Model.GioiTinh == true)
                            { gtinh = "Nam"; }
                            else
                            { gtinh = "Nữ"; }
                        }
                        @gtinh
                    </td>
                </tr>
                <tr>
                    <td>Ngày sinh:</td>
                    <td> @String.Format("{0:dd/MM/yyy}", Model.NgaySinh)</td>
                </tr>
                <tr>
                    <td>Địa chỉ:</td>
                    <td>@Html.DisplayFor(model => model.DiaChi)</td>
                </tr>
                <tr>
                    <td>Lớp:</td>
                    <td>@Html.DisplayFor(model => model.Lop.TenLop)</td>
                </tr>

            </table>
        </td>
    </tr>
</table>

<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaSV }) |
    @Html.ActionLink("Quay lại", "Index")
</p>