@model Baitap1_61130137.Models.PT
@{
    ViewBag.Title = "Indexmodel";
    Layout = null;
}
@using (Html.BeginForm())
{
    <div>a= @Html.EditorFor(model => model.a) </div>
    <div>b= @Html.EditorFor(model => model.b) </div>
    <div>
        Cộng @Html.RadioButtonFor(model => model.pt, "+", new { @checked = "checked" }) &nbsp;
        Trừ @Html.RadioButtonFor(model => model.pt, "-") &nbsp;
        Nhân @Html.RadioButtonFor(model => model.pt, "*") &nbsp;
        Chia @Html.RadioButtonFor(model => model.pt, "/") &nbsp;
    </div>
    <div><input type="submit" value="Tính toán" /></div>
    <div>Kết quả: <input type="text" name="kq" value=@ViewBag.KQ /></div>
}