@model IEnumerable<KT0720LeDucBinh_59130126.Models.SANPHAM>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Index";
    var grid = new WebGrid(Model, canPage: true, defaultSort: "TenTV", rowsPerPage: 2);
    @Scripts.Render("~/Scripts/jquery-3.4.1.min.js")

    <style type="text/css">

        .grid-footer {
            color: #000;
            font: 17px Calibri;
            text-align: left;
            font-weight: bold;
        }

            .grid-footer a {
                background-color: #ffffff;
                color: blue;
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                padding: 1px 10px 2px 10px;
            }

                .grid-footer a:active, a:hover {
                    background-color: #ffffff;
                    color: #FFAD33;
                    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                }

        .alternatingRowStyle {
            background-color: aliceblue;
        }

        table .table1 {
            text-align: left;
            margin-left: 0px;
            margin-right: 0px;
            width: 800px;
        }

        .tr, .td {
            text-align: left;
        }
    </style>

}

<p>
    @Html.ActionLink("Them Moi", "Create")
</p>
<h2 style="text-align: center;">DANH SÁCH SAN PHAM</h2>
<div id="gridContent">
    @ViewBag.TB
    @grid.GetHtml(
        tableStyle: "table table-bordered table-hover",
        footerStyle: "grid-footer",
        fillEmptyRows: true,
        mode: WebGridPagerModes.Numeric,
        alternatingRowStyle: "alternatingRowStyle",
        columns: new[]
        {

            grid.Column("MaSP","Mã san pham"),
            grid.Column("TenSP","Ten San Pham"  ),
            grid.Column("DVT","Don Vi TInh"),
            grid.Column("DonGia","Don Gia"),
grid.Column("XuatXu","Xuat Xu", format:(@item) => @item.XuatXu==true?"Trong Nuoc":"Ngoai Nuoc"),
grid.Column("NhaCungCap","Nha Cung Cap"),
grid.Column("LOAISP.TenLSP","Loai San Pham"),
grid.Column("GhiChu","Ghi Chu"),
grid.Column(format: (item) => Html.ActionLink("Cập nhật","Edit",new { id = item.MaSP })),
grid.Column(format: (item) => Html.ActionLink("Xóa","Delete", new { id = item.MaSP }))
}
)
</div>


